.accueil {
  background-color: #e4e3e3;
  height: 100vh;
  &__text {
    font-family: 'Courier New', sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-items: baseline;
    padding: 1em;
    background-color: #52ff80;
    color: #fff;
  
}
  }