.stats {  
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  padding: 1em;
  position: relative;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  }